<div>
  <h1>Sign In</h1>

  <%= render "shared/errors" %>

  <form action="<%= session_url %>" method="POST">
    <%= auth_token %>
    <div>
      <label for="username">Username</label>
      <input type="text" 
        id="username" 
        name="user[username]"
        value="<%= @user.username %>">
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" 
        id="password" 
        name="user[password]"
        value="<%= @user.password %>">
    </div>

    <div>
      <input type="submit" 
        value="Log In">
    </div>
  </form>
</div>

