<div>
  <h1>New User</h1>

  <%= render 'shared/errors' %>
  
  <form action="<%= users_url %>" method="POST">
    <%= auth_token %>

    <div>
      <label for="username">Username</label>
      <input 
        type="text" 
        id="username" 
        name="user[username]"
        value="<%= @user.username %>">
    </div>

    <div>
      <label for="password">Password</label>
      <input 
        type="password" 
        id="password" 
        name="user[password]"
        value="<%= @user.password %>">
    </div>

    <div>
      <input type="submit" value="Sign up">
    </div>
  </form>
</div>

<% content_for :footer do %>
  <p>This is new user page</p>
<% end %>
