<% request_exist = request.persisted? %>

<form action="<%= request_exist ? cat_rental_request_url(request) : cat_rental_requests_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <% if request_exist %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <div>
    <label for="cat">Cat</label>
    <select id="cat" name="request[cat_id]">
      <option disabled <%= "selected" unless params[:cat_id] || request_exist %>>--Select Cat--</option>
      <% cats.each do |cat| %>
        <option value="<%= cat.id %>" <%= "selected" if params[:cat_id] == cat.id || request.cat_id == cat.id %>> <%= cat.name %> </option>
      <% end %>
    </select>
  </div>

  <div>
    <label for="start_date">Start Date</label>
    <input type="date" name="request[start_date]" value="<%= request.start_date %>">
  </div>

  <div>
    <label for="end_date">End Date</label>
    <input type="date" name="request[end_date]" value="<%= request.end_date %>">
  </div>

  <input type="submit" value="<%= request_exist ? "Edit Rental Request" : "New Rental Request" %>">
</form>

