<% cat_exist = cat.persisted? %>

<form action="<%= cat_exist ? cat_url(cat) : cats_url %>" method="POST">
  <%= auth_token %>
  <% if cat_exist  %>
    <input type="hidden" 
      name="_method" 
      value="PATCH">
  <% end %>
  <div>
    <label for="name">Name</label>
    <input type="text" 
      name="cat[name]" 
      id="name" 
      value="<%= cat.name %>"> 
  </div>

  <div>
    <p>Sex</p>
    <div>
      <input type="radio" 
        id="sex_f" 
        name="cat[sex]" 
        value="F" <%= "checked" if cat.sex == 'F' %>>
      <label for="sex_f">Female</label>
    </div>
    <div>
      <input type="radio" 
        id="sex_m" name="cat[sex]" 
        value="M" <%= "checked" if cat.sex == 'M' %>>
      <label for="sex_m">Male</label>
    </div>
  </div>

  <div>
    <label for="birth_date">Birth Date</label>
    <input type="date" 
      name="cat[birth_date]" 
      id="birth_date" 
      value="<%= cat.birth_date %>">
  </div>

  <div>
    <label for="color">Color</label>
    <select name="cat[color]" id="color">
      <option disabled 
        <%= "selected" unless cat.color %>>--Select Color--</option>
      <% Cat::COLORS.each do |color| %>
        <option value="<%= color %>" 
          <%= "selected" if cat.color == color %>><%= color.capitalize %></option>
      <% end %>
    </select>
  </div>

  <div>
    <label for="description">Description</label>
    <textarea id="description" name="cat[description]"><%= cat.description %></textarea>
  </div>
  <div>
    <input type="submit" 
      value="<%= cat_exist ? 'Update Cat' : 'Add New Cat'%>">
  </div>
</form>
